<a href="https://colab.research.google.com/github/sathamhussain7/codekata-problems/blob/main/code_kata_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
1.Write a code to get an integer N and print values from 1 till N in a separate line.

Input Description:
A single line contains an integer N.

Output Description:
Print the values from 1 to N in a separate line.

Sample Input :
5
Sample Output :
1
2
3
4
5
'''
a=int(input())
for i in range(1,a+1):
  print(i)

5
1
2
3
4
5

In [ ]:
'''
2.Write a code to get 2 integers A and N. Print the integer A, N times in separate line.

Input Description:
First line contains an integer A. Second line contains an Integer N.

Output Description:
Print the integer A, N times in a separate line.

Sample Input :
2 3
Sample Output :
2
2
2
'''
a,b=list(map(int,input().split()))
for i in range(b):
  print(a)

2 3
2
2
2

In [ ]:
'''
3.Given 2 numbers N and K followed by N elements,print the number of repetition of K otherwise print '-1' if the element not found.
Sample Testcase :
INPUT
6 2
1 2 3 5 7 8
OUTPUT
0
'''
n,k=list(map(int,input().split()))
a=list(map(int,input().split()))
c=0
for i in a:
  if i==k:
    c=c+1
if c==1:
  print(0)
elif c>1:
  print(c-1)
else:
  print(-1)

2 3
4 5 6 7
-1

In [ ]:
'''
4.Write a program to print the sum of the first K natural numbers.
Input Size : n <= 100000
Sample Testcase :
INPUT
3
OUTPUT
6
'''
a=int(input())
b=[]
for i in range(1,a+1):
  b.append(i)
print(sum(b))

3
6

In [ ]:
'''
5.Given 2 numbers N,M. Print 'yes' if their product is a perfect square else print 'no'.
Sample Testcase :
INPUT
5 5
OUTPUT
yes
'''
a,b=list(map(int,input().split()))
c=a*b
if c==a**2 and b**2:
  print('yes')
else:
  print('no')

5 5
yes

In [ ]:
'''
6.Write a code to get the input and print it 5 times.

Input Description:
A single line contains an integer N.

Output Description:
Output contains 5 lines with each line having the value N.

Sample Input :
4
Sample Output :
4
4
4
4
4
'''
a=int(input())
for i in range(5):
  print(a)

4
4
4
4
4
4

In [ ]:
'''
7.Given a range of 2 numbers (i.e) L and R count the number of prime numbers in the range (inclusive of L and R ).
Input Size : L <= R <= 100000(complexity O(n) read about Sieve of Eratosthenes)
Sample Testcase :
INPUT
2 5
OUTPUT
3
'''
a,b=list(map(int,input().split()))
c=0
for i in range(a,b+1):
  for j in range(2,i):
    if i%j==0:
      break
  else:
    c=c+1
print(c)

2 4
2

In [ ]:
'''
8.Write a code to get an integer N and print the values from N to 1.

Input Description:
A single line contains an integer N.

Output Description:
Print the values from N to 1 in a separate line.

Sample Input :
10
Sample Output :
10
9
8
7
6
5
4
3
2
1
'''
a=int(input())
for i in range(a,0,-1):
  print(i)

10
10
9
8
7
6
5
4
3
2
1

In [ ]:
'''
9.Given 2 numbers N and M add both the numbers and check whether the sum is odd or even.
Sample Testcase :
INPUT
9 2
OUTPUT
odd
'''
a,b=list(map(int,input().split()))
c=a+b
if c%2==0:
  print('even')
else:
  print('odd')

9 2
odd

In [ ]:
'''
10.Given 2 numbers N and K followed by elements of N .Print 'yes' if K exists else print 'no'.
Sample Testcase :
INPUT
4 2
1 2 3 3
OUTPUT
yes
'''
n,k=list(map(int,input().split()))
a=list(map(int,input().split()))
c=0
for i in a:
  if i==k:
    c=c+1
  else:
    c=c
if c==0:
  print('no')
else:
  print('yes')

4 2
1 2 3 3
yes

In [ ]:
'''
11.Given 3 numbers N , L and R. Print 'yes' if N is between L and R else print 'no'.
Sample Testcase :
INPUT
3
2 6
OUTPUT
yes
'''
k=int(input())
a,b=list(map(int,input().split()))
if k>a and k<b:
  print('yes')
else:
  print('no')

3
2 6
yes

In [ ]:
'''
12.Write a code to get a integer n as input and calculate the smallest perfect power of 2 greater than n.

Input Description:
A single line containing an integer,n.

Output Description:
Print the smallest perfect power of 2 greater than n.

Sample Input :
48
Sample Output :
64
'''
a=int(input())
b=[]
for i in range(1,10):
  c=2**i
  b.append(c)
d=[]
for j in b:
  if j>a:
    d.append(j)
print(min(d))

48
64

In [ ]:
'''
13.Write a code to get an integer N and print the even values from 1 till N in a separate line.

Input Description:
A single line contains an integer N.

Output Description:
Print the even values from 1 to N in a separate line.

Sample Input :
6
Sample Output :
2
4
6
'''
a=int(input())
for i in range(1,(a+1)):
  if i%2==0:
    print(i)

6
2
4
6

In [ ]:
'''
14.Write a code to get an integer N and print the digits of the integer.

Input Description:
A single line contains an integer N.

Output Description:
Print the digits of the integer in a single line separated by space,

Sample Input :
348
Sample Output :
3 4 8
'''
a=list(map(int,input()))
print(a)

348
[3, 4, 8]

In [ ]:
'''
15.Given a number N, print 'yes' if it is composite else print 'no'.
Sample Testcase :
INPUT
123
OUTPUT
yes
'''
a=int(input())
b=0
for i in range(2,a+1):
  if a%i==0:
    print(i)
    b=b+1
if b>1:
  print('yes')
else:
  print('no')

123
3
41
123
yes

In [ ]:
'''
17.Given 3 numbers A,B,C print 'yes' if they can form the sides of a scalene triangle else print 'no'.
Input Size : A,B,C <= 100000
Sample Testcase :
INPUT
3 4 5
OUTPUT
yes
'''
a,b,c=list(map(int,input().split(' ')))
if a!=b and a!=c and b!=c:
  print('yes')
else:
  print('no')

3 4 5
yes

In [ ]:
'''
18.Given 3 numbers A,B,C process and print 'yes' if they can form the sides of a triangle otherwise print 'no'.
Input Size : A,B,C <= 100000
Sample Testcase :
INPUT
3 4 5
OUTPUT
yes
'''
a,b,c=list(map(int,input().split(' ')))
if a>1 and b>1 and c>1:
  print('yes')
else:
  print('no')

2 3 4
yes

In [ ]:
'''
21.Given base(B) and height(H) of a triangle find its area.
Input Size : N <= 1000000
Sample Testcase :
INPUT
2 4
OUTPUT
4
'''
b,h=list(map(int,input().split(' ')))
print(int(1/2*(b*h)))

2 4
4

In [ ]:
'''
22.Write a code to get an integer N and print the sum of  values from 1 to N.

Input Description:
A single line contains an integer N.

Output Description:
Print the sum of values from 1 to N.

Sample Input :
10
Sample Output :
55
'''
a=int(input())
d=[]
for i in range(1,a+1):
  d.append(i)
print(sum(d))

10
55

In [ ]:
'''
23.Write a code get an integer number as input and print the sum of the digits.

Input Description:
A single line containing an integer.

Output Description:
Print the sum of the digits of the integer.

Sample Input :
124
Sample Output :
7
'''
a=list(map(int,input()))
print(sum(a))

124
7

In [ ]:
'''
24.Write a program to get a string as input and reverse the string without using temporary variable.

Input Description:
A single line containing a string.

Output Description:
Print the reversed string.

Sample Input :
GUVI
Sample Output :
IVUG
'''
a=input()
print(a[::-1])

satham
mahtas

In [ ]:
'''
25.Given 2 numbers N,M find the GCD of N and M.If it cannot be found for given number(s) then print -1
Sample Testcase :
INPUT
10 5
OUTPUT
5
'''
a,b=list(map(int,input().split()))
c=abs(a)
d=abs(b)
if c>d:
   s=c
else:
   s=d

k=[]
for i in range(1,s+1):
 if c%i==0 and d%i==0:
    k.append(i)
if c==0 or d==0 or len(k)==0:
  print(-1)

elif len(k)>0:
  print(max(k))

10 5
5

In [ ]:
'''
26.Write a code to get 2 integers as input and find the HCF of the 2 integer without using recursion or Euclidean algorithm.

Input Description:
A single line containing 2 integers separated by space.

Output Description:
Print the HCF of the integers.

Sample Input :
2 3
Sample Output :
1
'''
a,b=list(map(int,input().split()))
if a>b:
  s=b
else:
    s=a
    c=[]
    for i in range(1,s+1):
      if a%i==0 and b%i==0:
       c.append(i)
print(max(c))

3 9
3

In [ ]:
'''
28.Given a number N, print the Bitwise NOT of that number.
Input Size : 1 <= N <= 10000
Sample Testcase :
INPUT
5
OUTPUT
-6
'''
a=int(input())
print(~a)

5
-6

In [ ]:
'''
29.Given 3 numbers A,B,C print 'yes' if they can form the sides of a right angled triangle,otherwise 'no'.
Input Size : A,B,C <= 100000
Sample Testcase :
INPUT
3 4 5
OUTPUT
yes
'''
a,b,c=list(map(int,input().split(' ')))
if c**2==a**2+b**2:
  print('yes')
else:
  print('no')

3 4 5
yes

In [ ]:
'''
30.Kabali is a brave warrior who with his group of young ninjas moves from one place to another to fight against his opponents. Before Fighting he just calculates one thing, the difference between his ninja number and the opponent's ninja number. From this difference he decides whether to fight or not. Kabali's ninja number is never greater than his opponent.
Input
The input contains two numbers in every line. These two numbers in each line denotes the number ninjas in Kabali's clan and his opponent's clan . print the absolute difference of number of ninjas between Kabali's clan and his opponent's clan. Each output should be in seperate line.
Sample Testcase :
INPUT
100 200
OUTPUT
100
'''
a,b=list(map(int,input().split(' ')))
print(b-a)

100 200
100

In [ ]:
'''
31.Write a code get an integer number as input and print the odd and even digits of the number separately.

Input Description:
A single line containing an integer.

Output Description:
Print the even and odd integers of the integer in a separate line.

Sample Input :
1234
Sample Output :
2 4
1 3
'''
a=list(map(int,input()))
b=[]
c=[]
for i in a:
  if i%2==0:
    b.append(i)
  else:
      c.append(i)
d=sorted(b)
e=sorted(c)
print(*d)
print(*e)

1234
2 4
1 3

In [ ]:
'''
32.Given a number N followed by N numbers.Find the smallest number and largest number and print both the indices(1 based indexing).
Input Size : N <= 100000
Sample Testcase :
INPUT
5
1 2 3 4 5
OUTPUT
1 5
'''
n=int(input())
a=list(map(int,input().split()))

b=max(a)
c=a.index(b)
d=min(a)
e=a.index(d)
print(e+1,c+1)

5
1 2 3 4 5
1 5

In [ ]:
'''
34.Find the minimum among 10 numbers.
Sample Testcase :
INPUT
5 4 3 2 1 7 6 10 8 9
OUTPUT
1
'''
l=list(map(int,input().split(' ')))
print(min(l))

4 5 6 7 3
3

In [ ]:
'''
35.Check whether the given 4 points form a square or not.
Example:
INPUT
10 10
10 20
20 20
20 10
OUTPUT
yes
'''
a1,a2=list(map(int,input().split(' ')))
b1,b2=list(map(int,input().split(' ')))
c1,c2=list(map(int,input().split(' ')))
d1,d2=list(map(int,input().split(' ')))
length_ac=((c1-a1)**2+(c2-a2)**2)**0.5
length_bd=((d1-b1)**2+(d2-b2)**2)**0.5
if length_ac==length_bd:
  print('yes')
else:
  print('no')

10 10
10 20
20 20
20 10
yes

In [ ]:
'''
38.The Romans have attacked again. This time they are much more than the Persians but Shapur is ready to defeat them. He says: 'A lion is never afraid of a hundred sheep'.

Nevertheless Shapur has to find weaknesses in the Roman army to defeat them. So he gives the army a weakness number.

In Shapur's opinion the weakness of an army is equal to the number of triplets i, j, k such that i < j < k and ai > aj > ak where ax is the power of man standing at position x. The Roman army has one special trait — powers of all the people in it are distinct.

Help Shapur find out how weak the Romans are.

The first line of input contains a single number n, the number of men in Roman army. Next line contains n different positive integers powers of men in the Roman army.
Input Size : N<=100000
Example:
INPUT
3
3 2 1
OUTPUT
1
'''
a=int(input())
b=list(map(int,input().split()))
if b==sorted(b, reverse=True):
 print(1)
else:
  print(0)

3
3 2 1
1

In [ ]:
'''
39.Given a string S consisting of 2 words reverse the order of two words .
Input Size : |S| <= 10000000
Sample Testcase :
INPUT
hello world
OUTPUT
world hello
'''
a=list(map(str,input().split()))
b=(a[::-1])
print(*b)

satham hussain
hussain satham

In [ ]:
'''
40.Given numbers A,B find A^B.
Input Size : 1 <= A <= 5 <= B <= 50
Sample Testcase :
INPUT
3 4
OUTPUT
81
'''
b,h=list(map(int,input().split(' ')))
print(b**h)

3 4
81

In [ ]:
'''
41.Write a code to get 2 integers as input and add the integers without any carry.

Input Description:
A single line containing 2 integers.

Output Description:
Print sum of the 2 integers without carry

Sample Input :
44 66
Sample Output :
0
'''
n=input().split()
a=n[0]
b=n[1]
a1=int(a[0])
a2=int(a[1])
b1=int(b[0])
b2=int(b[1])
c1=str(a1+b1)
c2=str(a2+b2)
d1=int(c1[-1])
d2=int(c2[-1])
if d1>0 or d2>0:
  print(c1[-1]+c2[-1])
else:
  print(d1+d2)

44 66
0